
/* login page styles -------------------------------------------------------------------------------------------------- */

.app-inner-wrapper{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
  /* width: 100%; */
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

.hello-text{
  color: yellowgreen;
  /* background-color: blue;  */
  text-align: center;
  font-size: 3em;
  font-weight: bold;
}

.login-page-wrapper{
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/images/login-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* width: 100%; */
  /* background-color: red; */
}

.login-form-wrapper{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);
  width: 30%;
  border-radius: 10px;
  box-shadow: 1px 1px 15px 1px black;
}

.login-form, .register-form{
  width: 100%;
  padding: 10%;
  /* background-color: blue; */
}

.login-form{
  /* background-color: blueviolet; */
  transition: margin-left 0.5s;
}

.register-form{
  margin-right: -100%;
}

.login-form-field-container{
  /* background-color: green; */
}

.login-form-field-container > input, .register-form-field-container  >input{
  width: 100%;
}

.input-fields{
  border: none;
  outline: none;
  padding: 8px 16px;
  margin-bottom: 5%;
  background-color: #cbe8a9;
}

.login-err{
  color: red;
}

.switch-link{
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}

/* dashboard page styles -------------------------------------------------------------------------------------------------- */

.dashboard-page-wrapper{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

.dasboard-page-pallete{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10%;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
}

.img-upload{
  display: none;
}

.img-upload-label{
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-upload-label > img{
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.dasboard-page-pallete > button{
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  background-color: #8f5201;
  width: 50%;
  margin-top: 5%;
  margin-bottom: 3%;
  padding: 5% 10%;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px gray;
  transition: transform 0.3s;
}

.dasboard-page-pallete > button:hover{
  transform: scale(1.1)
}

/* loading screen styling ------------------------------------------------------------------------------------  */

.loading-screen-wrapper{
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
}

.loading-screen-wrapper > p{
  color: white;
  font-size: 20px;
}

/* expenses page styling -----------------------------------------------------------------------------------------  */

.expenses-page-wrapper{
  display: flex;
  flex-direction: row;
  /* background-color: red; */
  min-height: 98vh;
  padding-top: 1%;
  max-width: 100vw;
  overflow: hidden;
  padding-bottom: 1%;
}

.expenses-list-wrapper{
  /* background-color: wheat; */
  width: 60%;
  margin-left: 5%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 1%;
  border-radius: 10px;
  box-shadow: 1px 1px 8px 0.1px gray;
}

.expenses-header{
  font-size: 3rem;
}

.expenses-list{
  /* background-color: green; */
  background-image: url('./assets/images/spinner.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150px;
  height: 75vh;
  padding-top: 3%;
  padding-bottom: 3%;
  overflow-x: hidden;
}

.expense-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: orangered; */
  background-image: url('./assets/images/expense-background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 95%;
  margin-left: 2.5%;
  margin-bottom: 4%;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 10px;
  box-shadow: 1px 1px 8px 0.1px gray;
  overflow: hidden;
  transition: margin-left 0.2s;
}

.expense-item > .col-1{
  flex-grow: 0;
  /* background-color: palevioletred; */
  padding-left: 3%;
  padding-right: 3%;
}

.expense-item > .col-2{
  flex-grow: 1;
  flex-direction: column; 
  /* background-color: lightseagreen; */
  padding-right: 3%;
}

.expense-item > .col-1 > img{
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  object-fit: cover;
}

.expense-item > .col-2 > .title{
  display: flex;
  /* background-color: red; */
  color: #4e4f52;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: -1px;
}

.expense-item > .col-2 > .title > .cancel-icon{
  display: flex;
  flex-grow: 8;
  align-items: center;
  justify-content: end;
  /* background-color: green; */
}

.expense-item > .col-2 > .title > .cancel-icon > i{
  cursor: pointer;
  margin-left: 5%;
}

.expense-item > .col-2 > .date{
  color: #979ba1;
  font-size: 1.5rem;
}

.expense-item > .col-2 > .description{
  color: #5a5c5e;
  font-size: 2rem;
  margin-top: -10px;
}

/* expense update section ++++++++++++++++++++++++++ */

.expenses-update-wrapper{
  display: flex;
  flex-direction: column;
  /* background-color: lightcoral; */
  width: 28%;
  margin-left: 2%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 1%;
  border-radius: 10px;
  box-shadow: 1px 1px 8px 0.1px gray;
  overflow-x: hidden;
  transition: margin-left 0.2s;
}

.update-header{
  font-size: 2rem;
}

.expenses-update-wrapper > .body{
  display: flex;
  flex-direction: column;
  height: 90vh;
  /* background-color: #8f5201; */
  overflow-x: hidden;
}

.expenses-update-wrapper > .body > .img-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
  padding-bottom: 5%;
  margin-bottom: 5%;
  /* background-color: lightgreen; */
}

.expenses-update-wrapper > .body > form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* background-color: purple; */
  height: 100%;
}

.expenses-update-wrapper > .body > form > .text-edit-container{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

.expenses-update-wrapper > .body > form > .text-edit-container > input{
  width: 100%;
  padding: 5% 10%;
  outline: none;
  border: none;
  font-size: 2rem;
  margin-bottom: 3%;
  border: 1px solid gray;
  border-radius: 10px;
  transition: border-inline 0.3s;
}

.expenses-update-wrapper > .body > form > .text-edit-container > input:focus{
  border-inline:  5px solid #003964;
}

.expenses-update-wrapper > .body > form > .text-edit-container > input[type='submit']{
  background-color: #0070C0;
  color: white;
  box-shadow: 1px 1px 5px 0.1px grey;
  transition: background-color 0.3s;
}

.expenses-update-wrapper > .body > form > .text-edit-container > input[type='submit']:hover{
  background-color: #003964;
}

.expenses-update-wrapper > .body > form > .submit-btn-container{
  display: flex;
  flex-direction: column;
  flex-grow: 8;
  justify-content: end;
  /* background-color: limegreen; */
}

/* insert item floating button --------------------------------------------------------------------------------- */

#floating-button{
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  padding: 2.5rem;
  height: 20px;
  width: 20px;
  right: 0;
  bottom: 0;
  margin-bottom: 3%;
  margin-right: 8%;
  border-radius: 50%;
  background-color: #003964;
  color: white;
  box-shadow: 1px 1px 5px 1px gray;
  cursor: pointer;
}

/* media quries --------------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 220px) and (max-width: 279px){
  html{
    font-size: 5px;
  }

  .login-form-wrapper{
    width: 80%;
  }

  .dasboard-page-pallete > button{
    font-size: 8px;
    width: 130%;
    padding: 10% 15%;
    margin-top: 10%;
  }

  .expenses-list-wrapper{
    width: 90%;
    margin-left: 5%;
  }

  .expense-item{
    flex-direction: column;
    align-items: start;
  }

  .expense-item > .col-1 > img, .img-upload-label > img{
    width: 10rem;
    height: 10rem;
  }

  .expense-item > .col-2{
    width: 100%;
    padding-left: 5%;
  }

  /* expandble right expense edit section  >>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

  .expenses-update-wrapper{
    display: none;
    position: absolute;
    background-color: white;
    width: 80%;
    top: 0;
    bottom: 0;
    margin-left: 100%;
  }

  #floating-button{
    display: flex;
  }
}

@media only screen and (min-width: 279px) and (max-width: 480px){
  html{
    font-size: 6px;
  }

  .login-form-wrapper{
    width: 80%;
  }

  .dasboard-page-pallete > button{
    font-size: 10px;
    width: 130%;
    margin-top: 10%;
  }

  .expenses-list-wrapper{
    width: 90%;
    margin-left: 5%;
  }

  .expense-item{
    flex-direction: column;
    align-items: start;
  }

  .expense-item > .col-1 > img, .img-upload-label > img{
    width: 10rem;
    height: 10rem;
  }

  .expense-item > .col-2{
    width: 100%;
    padding-left: 5%;
  }

  /* expandble right expense edit section  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

  .expenses-update-wrapper{
    display: none;
    position: absolute;
    background-color: white;
    width: 80%;
    margin-left: 100%;
  }

  #floating-button{
    display: flex;
  }
}

@media only screen and (min-width: 480px) and (max-width: 720px){
  html{
    font-size: 6px;
  }

  .expense-item > .col-1 > img, .img-upload-label > img{
    width: 8rem;
    height: 8rem;
  }

  .login-form-wrapper{
    width: 80%;
  }

  .dasboard-page-pallete > button{
    font-size: 10px;
    width: 130%;
    margin-top: 10%;
  }
}

@media only screen and (min-width: 720px) and (max-width: 1200px){
  .login-form-wrapper{
    width: 80%;
  }

  .dasboard-page-pallete > button{
    width: 70%;
  }
}