
/* login page styles -------------------------------------------------------------------------------------------------- */

.app-inner-wrapper{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

.hello-text{
  color: yellowgreen;
  /* background-color: blue;  */
  text-align: center;
  font-size: 3em;
  font-weight: bold;
}

.login-page-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/images/login-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  /* background-color: red; */
}

.login-form-wrapper{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);
  width: 30%;
  border-radius: 10px;
  box-shadow: 1px 1px 15px 1px black;
}

.login-form, .register-form{
  width: 100%;
  padding: 10%;
  /* background-color: blue; */
}

.login-form{
  /* background-color: blueviolet; */
  transition: margin-left 0.5s;
}

.register-form{
  margin-right: -100%;
}

.login-form-field-container{
  /* background-color: green; */
}

.login-form-field-container > input, .register-form-field-container  >input{
  width: 100%;
}

.input-fields{
  border: none;
  outline: none;
  padding: 8px 16px;
  margin-bottom: 5%;
  background-color: #cbe8a9;
}

.login-err{
  color: red;
}

.switch-link{
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}

/* dashboard page styles -------------------------------------------------------------------------------------------------- */

.dashboard-page-wrapper{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

.dasboard-page-pallete{
  display: flex;
  width: 50%;
  padding: 10%;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
}

.dasboard-page-pallete > button{
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  background-color: #8f5201;
  padding: 5% 10%;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px gray;
  transition: transform 0.3s;
}

.dasboard-page-pallete > button:hover{
  transform: scale(1.1)
}

@media only screen and (min-width: 220px) and (max-width: 279px){
  .login-form-wrapper{
    width: 80%;
  }
}

@media only screen and (min-width: 280px) and (max-width: 480px){
  .login-form-wrapper{
    width: 80%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 700px){
  .login-form-wrapper{
    width: 80%;
  }
}