.app-inner-wrapper{
  display: flex;
  flex-grow: 1;
  height: 100vh;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

.hello-text{
  color: yellowgreen;
  /* background-color: blue;  */
  text-align: center;
  font-size: 3em;
  font-weight: bold;
}